<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770514120587-2qvl9cpfede58chc4jptplrioo5n98np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770514120587-2qvl9cpfede58chc4jptplrioo5n98np</string>
	<key>API_KEY</key>
	<string>AIzaSyAfST7q8TlUooVm3pBmDlR-sYQ-XmoNA3w</string>
	<key>GCM_SENDER_ID</key>
	<string>770514120587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-6cf43</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-6cf43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770514120587:ios:b0b9476f0dcb997a4ec98e</string>
</dict>
</plist>